@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background: #2f363e;
}

.main {
    min-height: 82vh;
}

/* Spinner CSS */

.spinnerContainer {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px;
}

.spinner {
	width: 200px;
	height: 200px;
	border: 16px solid #f3f3f3;
	border-color: #000 transparent #1976d2 transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}