<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Your Account</title>
</head>
<body>
    <h3>Verify Your Account</h3>
    <p>Hi <b>{{name}}</b>, thanks for registering an account with us.</p>
    <p>You can now click this link to <b><a href="{{link}}">verify your account</a></b></p>
    <p>Or copy and paste this link to your browser</p>
    <p>Verification Code: </p>
    <h3>{{token}}</h3>
    <p>Kindly note that this code will be valid for the next 15 minutes only</p>
    <p>Regards,</p>
    <p>Gallery Team</p>
</body>
</html>