<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>
<body>
    <h3>Password Reset Request</h3>
    <p>Hi <b>{{name}}</b>,</p>
    <p>
        It looks like you need a little help with your password. Click the link below to reset it. This link will expire in 15 minutes.
    </p>
    <p>If this was you, please reset your password by clicking on <a href="{{link}}">Reset Password</a></p>
    <p>Your verification code: </p>
    <h3>{{token}}</h3>
    <p>If you didn't request for this, simply ignore.</p>
    <p>Regards,</p>
    <p>Gallery Team</p>
</body>
</html>