<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Invoice</title>
</head>
<body>
    <h3>Account Verified</h3>
    <p>Hi <b>{{name}}</b>, thanks for verifying your account.</p>
    <p>You can now click this link to <b><a href="{{link}}">login to your account</a></b></p>
    <p>Hope you find our service is valuable!</p>
    <p>Regards,</p>
    <p>Gallery Team</p>
</body>
</html>